<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <span class="logo">🌿Plantas </span>
            <div class="menu">
                <a href="/">Menu</a>
                <a href="">Categorias</a>
                <a href="#">Carrinho</a>
            </div>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
</body>
</html>